.header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;

    box-shadow: 0 2px 5px #888888;
    background-color: rgb(57, 57, 236);
}

.search-form {
    border-radius: 0;
}

.search-form:first-child {
    margin: 0;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
}

.photo-card {
    width: 300px;
    box-shadow: 0 2px 5px #888888;
}

img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
}

.info{
    display: flex;
    justify-content: center;
    gap: 12px;
    border: 1px solid rgb(73, 68, 68);
    border-top: none;
}

.info-item {
    text-align: center;
    font-size: 14px;
}